<div id="title_part">
  <!-- Shows the title.  Stays still. -->
  <h1 align="center"> {{ title }} </h1>
</div>
<div id="products_part">
  <!-- The section that displays the products.  Scrolls. -->
  <div *ngFor="let product of products" style="height:320px">
    <div style="width: 30%; start: 10px; float: left">
      <!-- The picture of the product. -->
      <!-- Couldn't read from img/--why?  Because of the proxy? -->
      <img src={{product.imgsrc}} />
    </div>
    <div style="width: 40%; start: 30%; float: right">
      <!-- The description of the product. -->
      <p>
        <b> {{ product.name }} </b> <br/>
        <i> {{ product.snippet }} </i> <br/>
        Only {{ prettyPrice(product.price) }} <br/>
        <span *ngIf="product.dealCount > 0">
          or get {{ product.dealCount }} for {{ prettyPrice(product.dealPrice) }}! <br/>
        </span>
        <p>
          <!-- Buttons to buy and unbuy the project. -->
          <button (click)="unbuy(product.id)">-</button>
          <button (click)="buy(product.id)">+</button>
          {{ product.sold }}
        </p>
    </div>
  </div>
</div>
<div id="basket_part">
  
  <span *ngIf="showTotal"> 
    <table style="table-layout:fixed; width:95%">
      <tr align="right">
        <td> <b> item </b> </td>
        <td> <b> quantity </b> </td>
      </tr>
      <tr *ngFor="let totalItem of total.totalItems" align="right">
        <!-- This protion of the table expands and contracts to show all purchased items and their quantities. -->
        <td> {{ totalItem.productName }} </td>
        <td> {{ totalItem.quantity }} </td>
      </tr>
      <tr align="right">
        <td> <b> total: </b> </td>
        <td> {{ prettyPrice(total.cost) }} </td>
    </tr>
    </table>
  </span>
  <div *ngIf="!showTotal" align="center">
    <button (click)="getTotal()">Total</button>
  </div>
</div>
